body {
    font-family: Arial, sans-serif;
    color: #BBB;
    background-color: #222;
}

form {
    max-width: 300px;
    margin: 50px auto;
}
h1{
    color: #FFF;
    text-align: center;
}
h2{
    color: #FFF;
    text-align: center;
}
input {
    width: 100%;
    padding: 8px;
    margin: 5px 0 20px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}